.icon-style {
  margin-right: 6px;
  margin-bottom: 5px;
}
.back-button a {
  text-decoration: none !important;
  display: inline-block;
}

.back-button {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 36px;
  background-color: var(--bg-dark-mode-button);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
  text-decoration: none;
  align-items: center;
  color: var(--bs-body-color);
}

.back-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.container-fluid .dark-mode-button {
  display: flex;
  place-items: center;
  width: 6.5rem;
  height: 3rem;
  background-color: var(--bg-dark-mode-button);
  border: none;
  font-weight: 600;
  font-size: medium;
  color: var(--bs-body-color);
}
@media only screen and (max-width: 767px) {
  .back-button {
    width: 6.2rem;
    margin-left: 2.2rem;
    margin-top: 2.5rem;
  }
  .back-button-container {
    margin-left: 0rem !important;
  }
}
