.search-container {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.search-input::placeholder {
  color: var(--very_dark_gray_color);
  opacity: 0.7;
}
.search-wrapper {
  position: relative;
  width: 29rem;
  height: 3rem;
  background-color: var(--bg-search-wrapper);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  transform: translateY(-50%);
  color: var(--search-icon-color);
  border: var(--white_color);
}
.search-input {
  width: 29rem;
  height: 3rem;
  border: none;
  border-radius: 3px;
  padding-left: 4rem;
  background-color: var(--bg-search-wrapper);
  margin-left: 0rem;
  color: var(--bs-body-color);
}
.search-input:focus-visible {
  outline: none;
}
@media only screen and (max-width: 767px) {
  .search-container {
    flex-direction: column;
    height: 9rem;
    align-items: start;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    margin-bottom: 2.5rem;
    width: 100% !important;

    height: 4rem !important;
  }
  .search-input {
    width: 100% !important;
  }
}
